<!----------------------------------------
    Navigation bar including link refs to: 
    1. About us page 
    2. Home
--------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">PepePrices</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!--1st extention - This page is active-->
        <li class="nav-item active">
          <a class="nav-link" href="/users/about">About Us</a>
        </li>
      </ul>
 </div>
</nav>
                      <!-------------------------
                          End of Navigation bar
                       -------------------------->

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
  </head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <h3>PepePrices</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    PepePrice is a community based site that to provides users candlestick charts for signaling whether to sell or hold or sell your items!
                </p>
                <p2>Disclaimer: This web application is only for eductional purposes. None of the data scraped will be used to make a profit.</p2>
        </div>
    </div>
   
        <h4>Partners</h4>
            <div class="c2">
                <div class="cardimg">
                    <img src="https://astroalerts.co.uk/wp-content/uploads/2019/12/astro.png" width="200" height="200">
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Astro Alerts</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Anywhere there is money, Astro Alerts is there. Providing you with all the information you might need to catch every release. Consistently supplying early links, site-lists, custom monitors, and more.
                    </p>
                    <p>Visit Astro Alerts <a href="https://astroalerts.co.uk/">here</a> 
                    </br></p>
                </div>
            </div>
    </div>
</body>
    <!------------------
    Ending/Footer of page:
------------------->

<!--Link to Login page-->
<!--Marginal space about article 1; the following tightly compact -->

<footer>

<div class="container">
    <!--Link to register page-->
        <p>Don't have an account? Register <a href="/users/register">here</a> 
        </br></p>
    </div>	
    <!--Link to email directly-->    
    <div class="article2">
        <p>Email any concerns or queries into: <a href="mailto:pepeprices@gmail.com">pepeprices@gmail.com</a> 
        </br></p>
    </div>	
    
    </div>
</footer>

<style>

     body {
    color: #232323;
    text-align: center;
     }

    container {
        align-items: center;
    }

    cardimg {
    width: 100%;
    height:auto;
    overflow: hidden;
    }
    </style>     
</body>
