 <!-- Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="welcome">PepePrices</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <!--1st extention - This page is active-->
      <li class="nav-item active">
        <a class="nav-link" href="/users/about">About Us</a>
      </li>
    </ul>
</div>
</nav>
                    <!-------------------------
                        End of Navigation bar
                     -------------------------->

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>Create an account or login</p>

      <!--Registration page of choice, link there-->
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a>

      <!--Login page of choice, link there-->
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>

<style>
  body {
  background-color: black;
}
</style>